/* Declaración de variables */
@import "_variables.scss";

/* Contact About */
.description-bio {
    color: black;
    background-color: white;
    font-family: sans-serif;
    }
    
    table {
    border-color: $grape;
    color: black;
    background-color: white;
    }
    
    main {
    background-color: ivory;
    background-image: url(./Images/mainByw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    }