/* Declaración de variables */
$bubblegum: #f72585;
$writingstyle:'Belleza', sans-serif;
$writingstyle: sans-serif !default;
$grape: #852d7c;

/* Variables con operaciones */
$footerwidth: 200%/2;
$footerheight: 40*2px; 

/* Condicionales */
